$main_color: #fff;
$darker_main_color: #f8f8f8;
$second_color: #580300;
$active_color: #37806b;

$lighter_text_color: #fff;
$main_text_color: #000;
$darker_text_color: #646464;

$main_transition: all 0.5s ease-in-out 0s;

$font_family_title: "Schnyder Cond XL Demi", sans-serif;
$font_family_text: "TT Travels", sans-serif;
